## Soruces
https://pandas.pydata.org/docs/user_guide/reshaping.html#pivot-table

https://www.askpython.com/python/examples/subset-a-dataframe

https://www.askpython.com/python/examples/normalize-data-in-python

https://pandas.pydata.org/docs/search.html?q=loc

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Reading Files

In [2]:
# reading csv files
df = pd.read_csv("netflix_data.csv")

# reading excel files
#df = pd.read_excel("netflix_data.xsls")

# reading txt files
#df = pd.read_csv("netflix_data.txt",delimiter = ",")
# delimiter is the thing that seperates the columns which in this example is comma

## Information About Data

In [7]:
# getting the first five rows
df.head(5)

# getting the last five rows
df.tail(5)

# Information about the data
df.info()

# Shape of data
df.shape

# Description and some ever so usefull statistics about data
df.describe()

# the values of each row
df.values

# data's column names
df.columns

# informatin about index
df.index

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   duration      7787 non-null   int64
 9   description   7787 non-null   object
 10  genre         7787 non-null   object
dtypes: int64(2), object(9)
memory usage: 669.3+ KB

RangeIndex(start=0, stop=7787, step=1)

## counts

In [ ]:
# Counting diferent values of genres column
df["genre"].value_counts(sort = True)

# Counting diferent values of genres column and normalizing them between 0 and 1
df["genre"].value_counts(normalize = True)

## Subsetting The Dataframe

## Subsetting columns

In [ ]:
# subsetting only one column
df["title"]

# subsetting multiple columns
df[["title","genre"]]

# subsetting multiple columns in another way
columns_to_subset = ["title","genre"]
df[columns_to_subset]

# subsetting with loc
df_subset = df.loc[:,["title","duration"]]

# subsetting with iloc
df_isubset = df.iloc[:,[1:3]]

## Subsetting rows

In [ ]:
# This will return a table of true and false if the genre is Dramas it wil be true and so on but to subset we do it like
df["genre"] == "Dramas"

# We can use all sorts of logical equations in it
df[df["genre"] == "Dramas"]

# In this we subset movies directed by "Mozez Singh"
df_subset = df[df["director"] == "Mozez Singh"]

# We can subset data with logical gates
df[(df["genre"] == "Dramas") & (df["duration"] > 60)]

# Subsetting with loc method
df_subset = df.loc[1]

# Subsetting multiple rows
df_subset = df.loc[[1,5,7]]

#subsetting with iloc
df_isubset = df.iloc[1]

#subsetting multiple rows with iloc
df_isubset = df.iloc[[1,5,7]]

## New column

In [ ]:
df_col = df
df_col['IndexMatch'] = df_col.reset_index().index
df_col.set_index(["IndexMatch","show_id"])

## Slicing dataframe

In [ ]:
# If you set a new index it is recomended that you sort it first then slice the dataframe
# We slice a dataframe with the help of loc and iloc methods
# It is very similar to slicing lists

df_col.sort_index()

# Slicing the dataframe in outer index with loc
df_col.loc[1:5]

# Slicing the dataframe in inner index badly with loc
df_col.loc["s1" : "s4"]

# Slicing the dataframe in inner index better with loc
#df_col.loc[(0,"s1"):(4,"s5")]

# Slicing the dataframe by its rows
df_col.loc[:,"country":"genre"]

#slicing with iloc
df_col.iloc[:,1:5]

## Cleaning Data

In [ ]:
# Dropping duplicates
df_dropdublicates = df.drop_duplicates()

# dropping duplicates in pairs
df_dropdublicates = df.drop_duplicates(subset = ["title","release_year"])

## Sorting data

In [ ]:
# sorting the dataframe in ascending order for title column
df.sort_values("title")

# sorting the dataframe in descending order for title column
df.sort_values("title", ascending = False)

# sorting the dataframe with two columns
df.sort_values(["title","director"])

# sorting the dataframe by two columns with one ascending and other one descending
df.sort_values(["title","director"], ascending = [False,True])

# sorting a dataframe by its index column
df_indexed = df.set_index(["show_id","country"])
df_indexed.sort_index()

# sorting a multi-level indexed dataframe by its index columns
df_indexed.sort_index(level = ["show_id","country"], ascending = [False,True])

## Summarizing numerical data

In [ ]:
# getting the sum of duration column
df["duration"].sum()

# getting the mean of duration column
df["duration"].mean()

# getting the median of duration column
df["duration"].median()

# getting the mode of duration column
df["duration"].mode()

# getting the minimum value of duration column
df["duration"].min()

# getting the maximum value of duration column
df["duration"].max()

# getting the var of duration column
df["duration"].var()

# getting the std of duration column
df["duration"].std()

# getting the quantile of duration column
df["duration"].quantile()

# getting the cumulative sum of duration column
df["duration"].cumsum()

# getting the cumulative max of duration column
df["duration"].cummax()

# getting the cumulative min of duration column
df["duration"].cummin()

# getting the cumulative prod of duration column
df["duration"].cumprod()

## The agg method

In [ ]:
# agg method allows us to manipulate the data with functions we wrote

# function that takes one argument and returns 20 per cent of the original data
def func(column):
    return column * 0.20

# using the agg method on duration column
df["duration"].agg(func)

# using the agg method on multiple columns
df[["duration","release_year"]].agg(func)

## Grouped summary statistics

In [ ]:
# If we wanted to know the mean duration of dramas genre we should do
df[df["genre"] == "Dramas"]["duration"].mean()

# But this is an inefficient way to do it. We can do the same operation with groupby method

# Grouping the dataframe by genre column
df.groupby("genre")

# Grouping by multiple variables
df.groupby(["genre","country"])

# Summarizing the grouped data
df.groupby("genre")["duration"].mean()

# Summarizing the grouped data with more than one operation
df.groupby("genre")["duration"].agg([min,max,sum])

# Summarizing multiple grouped data
df.groupby(["genre","country"])["duration"].mean()

# Summarizing the multiple grouped data with more than one operation
df.groupby(["genre","country"])["duration"].agg([min,max,sum])
df.groupby(["genre","country"]).agg({"duration":["min","max","sum"]})

## Reshaping and summarizing

## Pivot tables

In [ ]:
# Like groupby method this method is also used to summarize.
# The default is mean
# We can specify the operation with aggfunc parameter

# There is no difeerence in this
df.groupby("genre")["duration"].mean()

# And this
df.pivot_table(values = "duration", index = "genre")

# But the real power of pivot tables is in the agg function
# Using agg function to summarize data
import numpy as np
df.pivot_table(values = "duration", index = "genre", aggfunc = np.median)

# Using more than one agg operation
df.pivot_table(values = "duration", index = "genre", aggfunc = [np.median,np.mean])

# We can also use group by more than one column with columns parameter
df.pivot_table(values = "duration", index = "genre", columns = "country")

# We can also fill missing values of the dataframe with fill_value parameter
df_pivot = df.pivot_table(values = "duration", index = "genre", fill_value = 0)

# We can give margins too
df_pivot = df.pivot_table(values = "duration", index = "genre", fill_value = 0, margins = True)

# an example of pivot tables' use in real world data
df_a = df.pivot_table("duration",index = "title", columns = "genre")
df_a.head()

## Index Operations

In [ ]:
# We can set a column as index for a dataframe.
# To set the index we use set_index("column_name")

df_ind = df.set_index("show_id")
df_ind.head()

# We can remove the index with reset_index() method
df_ind.reset_index()

# We can drop the index
df_reset = df_ind.reset_index(drop = True)
df_reset.head()

# We can set multi-level indexes a.k.a. hierarchical indexes
df_multi = df.set_index(["show_id","genre"])
df_multi.head()

# Subtestting a hierarchical indexed dataframe. Subset the outer level with a list
df_multi.loc[["s1","s5"]]

# Subtestting a hierarchical indexed dataframe. Subset inner levels with a list of tuples
df_multi.loc[[("s1","International TV"), ("s2","Dramas")]]

## Missing Values

In [ ]:
# To see missing values we often use isna() method
df.isna()

# To se the nÄ±mber of the missing values in a column based style we use isna() and any() methods
df.isna().any()

# To see the numbers we use sum()
df.isna().sum()

# To fill the rows with missing values we use fillna()
#df_fill = df.fillna(0)
#df_fill.head()

# To drop the rows with the missing values we use dropna()
df_drop = df.dropna()
df_drop.head()

## Saving the processed file

In [ ]:
# to save as csv we use to_csv
df_col.to_csv("df_col_indexed.csv")

# to not to see the index we can use index argument of to_csv method
df_col.to_csv("df_col_not_indexed.csv", index = False)